
.blog-table {
    
    table {
        width: 100%;
        border-collapse: collapse;

        th {
            text-align: left;
        }

        tr {
            height: 2rem;
            border-bottom: 1px solid lightgray;

            .table-action a {
                margin: 0 0.5rem;
                color: #0000ee;
                text-decoration-line: none;
            }

            .table-action a:visited {
                color: #0000ee;
            }

            .table-action a:hover {
                text-decoration-line: underline;
                cursor: pointer;
            }
        }
    }
}

.table-title {
    a {
        text-decoration-line: none;
        color: yellowgreen;
    }

    a:hover {
        text-decoration-line: underline;
    }
}